.contact-me {
    line-height: 1.375em;
    letter-spacing: 0.1em;
    font-size: var(--small-font);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-me > a,
.contact-me > a:visited {
    text-decoration: none;
    color: var(--white-color);
    font-size: 13px;
}

.contact-me-title {
    line-height: 1.375em;
    letter-spacing: 0.1em;
    font-size: var(--small-font);
    margin-bottom: 10px;
}
