.where-to-find {
    line-height: 1.375em;
    letter-spacing: 0.1em;
    font-size: 13px;
    margin-bottom: 10px;
}

.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.social-container,
.social-container:visited {
    text-decoration: none;
    color: var(--white-color);
}

.social-container-icon {
    color: var(--white-color);
    width: 13px;
    height: 15px;
}

.find-me-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
