<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=1920, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <nav>Burger</nav>
        <main>
            <!-- <section>Name Photo Let's work</section> -->
            <!-- <section>about myself and the picture</section> -->
            <!-- <section>experience education</section>
            <section>
                portfolio
                <article>project 1</article>
                <article>project 2</article>
            </section> -->
            <!-- <section>Skills</section> -->
            <!-- <section>Get in touch</section> -->
        </main>
        <footer>Contact me and where to find me</footer>
    </body>
</html>
